<!DOCTYPE html>
<html>
  <head>
    <title>Fullstack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'reset', media: 'all' %>
    <%= stylesheet_link_tag    'dashboard', media: 'all' %>
    <%= stylesheet_link_tag    'tasks', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
